html {
  background-color: #15294b;
}
body {
  font-family: system-ui, sans-serif;
  background-color: #fff;
  margin: 0;
}

.hero {
  position: relative;
  background-color: #15294b;
  color: #fff;
}

.stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
}

.moon {
  display: block;
  width: 100%;
  transform: translateY(1px);
}

.flag {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 10%;
  right: 10%;
}

.table td,
.table th {
  padding: 0.2em 0.5em;
  border: none;
}
.max-width {
  max-width: 35rem;
}
.mx-auto {
  margin: auto;
}
.m0 {
  margin: 0;
}
.mt1 {
  margin-top: 1em;
}
.p2 {
  padding: 2em;
}
.relative {
  position: relative;
}
.muted {
  opacity: 0.5;
}
.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.red {
  color: tomato;
}
.green {
  color: green;
}
.bg-blue {
  background-color: #15294b;
}
.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.scroll {
  overflow-x: scroll;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  height: auto;
  border: var(--border-width) solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --border-width: 1px;
  --button-line-height: 1.125rem;
  --button-padding-y: 0.5rem;
  --button-padding-x: 1rem;
  --darken-2: rgba(0, 0, 0, 0.125);
  --darken-3: rgba(0, 0, 0, 0.25);
}
